<h1>Perfil {{usuario.nombre}}</h1>
<p>Nombre: <strong>{{usuario.nombre}}</strong></p>
<p>Correo electrónico: <strong>{{usuario.email}}</strong></p>
<p>Rol: <strong>{{rol}}</strong></p>
<hr>

<div id="mensaje"></div>

<h1>Bienvenido A Mi Tienda</h1>
<hr>

<br>
<br>
<br>
<br>
<button onclick="window.location.href='/products'">Productos</button>
<br>
<button onclick="window.location.href='/carts'">Carritos</button>